$black1: #1e2328;
$black2: #383f46;
$yellow1: #f5b301;
$yellow2: #fed053;
$yellow3: #f1e2ad;
$yellow4: #e47200;
$white1: #e0e0e0;

.DrumMachine {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: $black1;
  background-color: $yellow1;

  .header {
    color: $black1;
  }
  .container-drum {
    display: flex;
    background-color: $yellow3;
    height: 45vh;
    width: 50vw;
    border: 0.25rem solid $black1;
    border-radius: 0.75rem;

    .contwrap {
      border-radius: 0.75rem;
      padding: 1rem;
    }

    .drum-pad {
      background-color: $yellow2;
      font-weight: bold;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border: 2px solid $black2;
      border-radius: 0.75rem;
      font-size: 1.2rem;
    }
    .drum-pad:hover {
      background-color: $yellow4;
    }

    input[type='checkbox'] {
      visibility: hidden;
      position: absolute;
      &:checked + label {
        transform: rotate(360deg);
        background-color: $black1;
        &:before {
          transform: translateX(20px);
          background-color: #fff;
        }
      }
    }

    label {
      display: flex;
      width: 55px;
      height: 30px;
      border: 6px solid;
      border-radius: 99em;
      position: relative;
      transition: transform 0.75s ease-in-out;
      transform-origin: 50% 50%;
      cursor: pointer;
      margin: 8px 0;
      &:before {
        transition: transform 0.75s ease;
        transition-delay: 0.5s;
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $black1;
        border-radius: 50%;
        top: 1px;
        left: 5px;
      }
    }

    input[type='range'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &::-moz-range-thumb {
        border: none;
      }
    }

    .range-style {
      width: 75%;
      height: 20px;
      padding: 15px 10px;
      background: $black1;
      border-radius: 20px;
      cursor: e-resize;

      @mixin track-style {
        display: flex;
        align-items: center;
        height: 10px;
        border-radius: 10px;
        background-color: $yellow2;
        box-shadow: inset -2px -2px 16px $yellow3, inset 2px 2px 8px $yellow3;
      }

      @mixin thumb-style {
        position: relative;
        top: -40%;
        width: 20px;
        height: 20px;
        background-color: $yellow4;
        border-radius: 50%;
        // box-shadow: -1px -1px 2px white, 1px 1px 2px white;
      }
      &::-webkit-slider-runnable-track {
        @include track-style;
      }
      &::-webkit-slider-thumb {
        @include thumb-style;
      }
      &::-moz-range-track {
        @include track-style;
      }
      &::-moz-range-thumb {
        @include thumb-style;
      }
    }

    .display {
      background-color: $yellow4;
      padding: 1.5rem;
      margin: 1rem;
      font-weight: bold;
    }
  }
}
